/* Estilo básico para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
.cadastrar-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}
.form-group img{
  width: 7pc;
  height: 7pc;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.avatar-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.avatar-buttons button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.avatar-buttons img {
  border: 2px solid transparent;
  border-radius: 4px;
}

.avatar-buttons .selected img {
  border-color: #4CAF50;
  border-radius: 4pc;
}

.error {
  color: red;
}

.success {
  color: green;
}
.centro{
  display: flex;
  justify-content: center;
  position: relative;
  
}